/* General About Section Styles */
.about-section {
    padding: 60px 20px;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  /* Menambahkan untuk memastikan konten berada di tengah */
    max-width: 1200px;
    gap: 40px;
    width: 100%; /* Menyesuaikan lebar kontainer menjadi 80% agar lebih kecil dan responsif */
}

/* Image Section */
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Memastikan gambar berada di tengah */
    text-align: center;
}

.profile-i {
    width: 53%; /* Ukuran gambar lebih kecil dalam px */
    /* height: 3500px; Ukuran gambar lebih kecil dalam px */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Content Section */
.about-content {
    flex: 2;
    text-align: left;
}

.about-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Styling untuk CV Button */
.cv-button {
    margin-top: 25px;
    display: inline-block;
    background-color: #00ff99; /* Warna latar belakang biru */
    color: black; /* Teks berwarna putih */
    padding: 10px 15px; /* Padding tombol */
    font-size: 1rem; /* Ukuran font */
    font-weight: bold; /* Berat font */
    text-decoration: none; /* Menghapus garis bawah */
    border-radius: 8px; /* Sudut tombol melengkung */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
    text-align: center; /* Memastikan teks tombol rata tengah */
  }
  
  .cv-button:hover {
    background-color: #00ff84; /* Warna latar belakang biru gelap saat hover */

  }
  


/* Responsive Design */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        text-align: center;
    }
}
